{{#each Trainers as |Trainer| }}
<div class="row mb-4 ">
  <div class="col-md-5">
    <h2>
      {{{get_Trainer}}}
      <a href="/trainer/{{trainer.id}}">{{trainer.name}}</a>
    </h2>
    <p>
      <span class="Description">{{trainer.description}}</span>
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{trainer.description}}
    </p>
  </div>
</div>
{{/each}}